.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.tfvars

# copied and generated terraform files
generator/network.tf
generator/provider.tf
generator/generated.tf

*scratch*

# packaged .zip files
util/*.zip
